.product-block {
    padding: 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
    background-color: #f6f8fa;
}

.product-block a {
    font-weight: bold;
}

.markdown-body kbd {
    border-bottom-color: $gray-300;
    border-radius: 4px;
}
