@import "primer-support/index.scss";
@import "primer-base/index.scss";
@import "primer-utilities/index.scss";
@import "primer-layout/index.scss";
@import "primer-markdown/index.scss";
@import "rouge";

.product-block {
  padding: 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
  background-color: #f8f8f8;
}