<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/icons/favicon-light-16x16.png' | relative_url }}" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/icons/favicon-light-32x32.png' | relative_url }}" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ '/icons/favicon-light-64x64.png' | relative_url }}" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/icons/favicon-dark-16x16.png' | relative_url }}" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/icons/favicon-dark-32x32.png' | relative_url }}" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ '/icons/favicon-dark-64x64.png' | relative_url }}" media="(prefers-color-scheme: dark)">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {{ content }}
      <hr>
      <footer class="text-gray-light">Copyright &copy; 2025&ndash;2026 <a href="{{ "/" | absolute_url }}" title="Go to the home page">{{ site.title }}</a></footer>
    </div>
  </body>
</html>
